:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.botoes {
  display: flex;
  flex-direction: column;

  button {
    margin: 12px;
  }
}

zxing-scanner {
  width: 100%;
  max-width: 400px;
}
